<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>

    <div class="container mt-2">
      <div class="shadow-lg p-2 mb-2 bg-body rounded">
      <div class="bg-danger p-2 text-white bg-opacity-50">
      <ul class="nav justify-content-center">
        <li class="nav-item px-2 py-2">
          <div class="shadow-lg   bg-body rounded">
          <button type="button"  href="index" class="btn btn-outline-light btn-dark">VINITS LIBRARY</button>
          </div>
        </li>
      </ul>
     </div>
    </div>
  </div>

    <div class="container mt-2">
      <div class="p-3 mb-2 bg-danger text-dark">
          <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">VINITS LIBRARY</h1>
                <p class="lead">We are here to serve our coustmer with a good facility.</p>
              </div>
          </div>
      </div>
      </div>
      
      <div class="container mt-2">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
      <div class="bg-danger p-2 text-dark bg-opacity-25">
        <form method="POST">
          <h1>Delete entries</h1>

          <div class="input">
            <label>ID :</label>
            <input class="form-control" type="text" value="" name="id" aria-label="Disabled input example" >
          </div>
        
          <div class="input">
            <label>Mail :</label>
            <input class="form-control" type="text" value="" name="mail" aria-label="Disabled input example" >
          </div>
        
          <div class="input">
            <label>Name :</label>
            <input class="form-control" type="text" value="" name="name" aria-label="Disabled input example" >
          </div>

          <div class="input">
            <label>Contact :</label>
            <input class="form-control" type="text" value="" name="contact" aria-label="Disabled input example">
          </div>
        
          <div class="input">
            <label>Bookname :</label>
            <input class="form-control" type="text" value="" name="bookname" aria-label="Disabled input example" >
          </div>
        
          <div class="input">
            <label>Language :</label>
            <input class="form-control" type="text" value="" name="language" aria-label="Disabled input example" >
          </div>

          <button type="submit" class="btn btn-danger mt-2">DELETE</button>
        </form>
    </div>
  </div>
</div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>









