
</html><!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vinits library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
 
  <body>
    <div class="container mt-2">
      <div class="shadow-lg p-2 mb-2 bg-body rounded">
      <div class="bg-info p-2 text-white bg-opacity-50">
      <ul class="nav justify-content-center">
        <li class="nav-item px-2 py-2">
          <div class="shadow-lg   bg-body rounded">
          <a class="btn btn-success btn-outline-warning" href="loginandregister" role="loginandregister">LOGIN</a>
          </div>
        </li>
        <li class="nav-item px-2 py-2">
          <div class="shadow-lg   bg-body rounded">
          <button type="button" href="index" class="btn btn-outline-light btn-dark">VINITS LIBRARY</button>
          </div>
        </li>
        <li class="nav-item px-2 py-2">
          <div class="shadow-lg  bg-body rounded">
          <a class="btn btn-success btn-outline-warning" href="loginandregister" role="loginandregister">LOGOUT</a>
          </div>
        </li>
      </ul>
     </div>
    </div>
  </div>
     
     <div class="container mt-1">
      <div class="shadow-lg p-2 mb-3 bg-body rounded">
      <img src='/3.png' class="img-fluid" width="1500px" height="200px" alt="library">
      </div>



      <div class="container mt-1 mb-1">
        <div class="shadow-lg p-2 mb-3 bg-body rounded">
        <div class="bg-primary p-2 text-dark bg-opacity-25">
      <div class="container mt-2">
        <div class="container-fluid px-4 py-4" >
          <div class="row">
            <div class="col order-center">
              <div class="card" style="width: 18rem;">
                <img src="/5.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Add entries from here</p>
                <a href="add" class="btn btn-success px-2 py-2   " tabindex="-1" role="button" aria-disabled="true">ADD ENTRY</a>
              </div>
            </div>
          </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
              <img src="/4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Update entries from here.</p>
                <a href="update" class="btn btn-success px-2 py-2  " tabindex="-1" role="button" aria-disabled="true">UPDATE ENTRY</a>
            </div>
          </div>
            </div>
            <div class="col order-center">
              <div class="card" style="width: 18rem;">
                <img src="/2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Delete entries from here.</p>
                <a href="delete" class="btn btn-success px-2 py-2 " tabindex="-1" role="button" aria-disabled="true">DELETE ENTRY</a>
            </div>
          </div>
        </div>
        
          

          
          

     </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>